<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>SHORTENED URL</h1><br><br><br>
  
    <p><a href="<%= url.shortenedUrl %>"> <%= url.shortenedUrl %> </a> </p>
</body>
</html>