<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>HACKERMODE</title>
</head>
<body>
    <h1>WELCOME TO HACKERMODE</h1><br><br>
    <form action="hackermode" method="POST">
        <input type="url" name="o_url" id="o_url" placeholder="Enter the Original URL"  required><br><br>
        <input type="url" name="c_url" id="c_url" placeholder="Enter Custom URL" required><br><br>
        <input type="submit">
    </form>
    <script src="/script.js"></script>
</body>
</html>